/*How*/
.scheme
{
    display: block;

    max-width: 481px;
    margin: 0px auto;
    margin-bottom: 55px;
    img
    {
        width: 100%;
    }
     margin-bottom: 140px;
}
.scheme-desc
{
    max-width: 750px;
    // margin: 0 auto;
    margin-bottom: 30px;
    text-transform: lowercase;
    // text-align: center;
}
