$break-1: 477px;
$break-2: 767px;
$break-3: 1500px;
$break-4: 990px;
@mixin respond-to($media) {
  @if $media == mob {
    @media only screen and (max-width: $break-2) { @content; }
  }
  @if $media == small {
    @media only screen and (max-width: $break-3) { @content; }
  }
  @if $media == big {
    @media only screen and (min-width: $break-3) { @content; }
  }  
}

@include respond-to(mob){
  .wrapper{
    margin: 70px auto;
    padding:0 10px;
  }
  .main{
    margin-left: 80px;
  }
  .logo{
    display: none;
  }
  .descriptions{
    margin-bottom: 40px;
  }
  .infoblock.col{
    width: 100%;
  }
  .header{
    margin-bottom: 50px;
  }
  .item-title{
    font-size: 14px;
  }
  .item{
    width: 200px;
    height: 200px;
    line-height: 200px;
  }
  .chapter{
    margin-bottom: 60px;
  }
  .item_big{

  }
  .article_inner img{
    width: 100%;
  }
  .article_inner .description{
    padding: 0 10px 0 90px;
    margin: 0;
  }
  .logotype{
    display: none;
  }
  .items.is__ready.active{
    display: none;
  }
  .mfp-content{
    padding-top: 80px;
  }


  .person-works {
      width: 100%;
      .col-10 {width: 98.0%}
      .col-9 {width: 98.0%}
      .col-8 {width: 98.0%}
      .col-7 {width: 98.0%}
      .col-6 {width: 98.0%}
      .col-5 {width: 98.0%}
      .col-4 {width: 98.0%}
      .col-3 {width: 98.0%}
      .col-2 {width: 98.0%}
      .col-1 {width: 98.0%}

      .col-1,
      .col-2,
      .col-3,
      .col-4,
      .col-5,
      .col-6,
      .col-7,
      .col-8,
      .col-9,
      .col-10
      {
          position: relative;
          margin-left: 1%;
          margin-right: 1%;

      }
  }





}


@include respond-to(small){

  .person-works.custome-style {
    .person-row{
      position: relative;
      img {position: static;}
      &.row-up {
        margin-top: 0px;
      }
    }
  }
  .cust_top_offset {
    margin-top: 0px;
  }
}


@include respond-to(big){
  .row.bigrow {
      width:140%;
      margin-left: -20%;
  }
}