/*How*/
.scheme
{
    display: block;

    max-width: 481px;
    margin: -50px auto;
    margin-bottom: 55px;
    img
    {
        width: 100%;
    }
}
.scheme-desc
{
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 140px;

    text-align: center;
}
