@import 'normalize';
@import 'compass/css3/background-size';
@import 'font';
@import 'var';
@import 'mixin';

a:focus, :hover
{
    outline: none;
}
::-moz-focus-inner
{
    border: 0;
}
body,
input,
button,
textarea
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body
{
    font: 18px 'Proxima Nova', Arial, sans-serif;
}
a
{
    transition: border-color .3s;
    transition: color .3s;
    text-decoration: none;

    color: #000;
    &:hover
    {
        text-decoration: none;
        color: #005fff;
        border-color: #005fff	;
    }
}

.article_inner .filter, .article_inner a.filter-item
{
    color: #999;
}
.article_inner a.filter-item:hover
{
    color: #005fff;
}

.wrapper
{
    font-size: 21px;
    max-width: 1200px;
    margin: 140px auto;
    padding: 0 40px;
}

.main
{
    max-width: 970px;
    margin-left: 230px;
    h2
    {
        font-size: 23px;
        margin-bottom: 30px;
    }
}
// Menu ______________________________________
.menu
{
    position: fixed;
    z-index: 2000;
}

.logotype
{
    position: relative;
    display: block;
    margin-bottom: 15px;
    cursor: pointer;
    @include sbgs(logotype);
}
.links
{
    position: fixed;
    z-index: 2000;
    top: 258px;

    box-sizing: border-box;
    width: 70px;
    height: 250px;
    padding: 0;

    border: 5px solid black;
    a
    {
        display: block;
        overflow: hidden;

        margin: 0 0 4px -5px;

        text-indent: -1000em;

        border: 0;
    }
    .header-link.active-menu
    {
        @include sbgs(main_on);
    }
    .header-link
    {
        @include sbgs(main);
    }
    .header-link span
    {
        display: block;

        transition: opacity .2s;

        opacity: 0;

        @include sbgs(main_on);
    }
    .header-link span:hover
    {
        transition: opacity .2s;

        opacity: 1;
    }
    .who-link.active-menu
    {
        @include sbgs(who_on);
    }
    .who-link
    {
        @include sbgs(who);
    }
    .who-link span
    {
        display: block;

        transition: opacity .2s;

        opacity: 0;

        @include sbgs(who_on);
    }
    .who-link span:hover
    {
        transition: opacity .2s;

        opacity: 1;
    }
    .how-link.active-menu
    {
        @include sbgs(how_on);
    }
    .how-link
    {
        @include sbgs(how);
    }
    .how-link span
    {
        display: block;

        transition: opacity .2s;

        opacity: 0;

        @include sbgs(how_on);
    }
    .how-link span:hover
    {
        transition: opacity .2s;

        opacity: 1;
    }
    .what-link.active-menu
    {
        @include sbgs(what_on);
    }
    .what-link
    {
        @include sbgs(what);
    }
    .what-link span
    {
        display: block;

        transition: opacity .2s;

        opacity: 0;

        @include sbgs(what_on);
    }
    .what-link span:hover
    {
        transition: opacity .2s;

        opacity: 1;
    }
}

// ______________________________________ Menu

/*Header*/

.infoblock.col
{
    font-weight: 550;
}
.descriptions
{
    width: 570px;
    margin-bottom: 100px;
    a
    {
        @include lightDecoration();
    }
}

.social a
{
    display: inline-block;
    overflow: hidden;

    width: 20px;
    height: 20px;
    margin-right: 20px;

    text-indent: -1000em;

    border: 0;
}
.social-fb{@include bgs(fb);}
.social-vk{@include bgs(vk);}
.social-tw{@include bgs(tw);}
.social-fb:hover{@include bgs(fb_on);}
.social-vk:hover{@include bgs(vk_on);}
.social-tw:hover{@include bgs(tw_on);}

.infoblock-contacts{
    a
    {
        @include lightDecoration();
    }
    p
    {
        margin-top: 0;
        margin-bottom: px;
    }
}


/*Who*/
.people-wrapper
{
    position: relative;

    width: 100%;
}
.who .filter_people .people-item
{
    font-size: 20px;
    font-weight: 600;

    position: absolute;
    z-index: 20;
    display: inline-block;

    width: 170px;
    height: 106px;
    margin: 15px 5px;

    cursor: default;
    transition: all 1s;
    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #a7abab;
    span
    {
        position: absolute;

        width: 170px;
        height: 110px;
        margin: 0;
        margin-left: -85px;
        padding-top: 60px;

        cursor: default;
        transition: opacity .5s;

        opacity: 1;
        border-radius: 50%;
    }
    // &:hover
    // {
    //     cursor: default;
    //     transition: background-image .3s !important;
    //     span
    //     {
    //         cursor: default;

    //         opacity: 0;
    //     }
    // }
}

.who .filter_people .people-item.people-hover-active {

    cursor: default;
    // transition: background-image .3s !important;
    span
    {
        cursor: default;

        opacity: 0;
    }
}
.who .filter_people .people-item.people-hover:hover {
    cursor: default;
    // transition: background-image .3s !important;
    span
    {
        cursor: default;

        opacity: 0;
    }
}
/*How*/
.scheme
{
    display: block;

    max-width: 481px;
    margin: -50px auto;
    margin-bottom: 55px;
    img
    {
        width: 100%;
    }
}
.scheme-desc
{
    max-width: 470px;
    margin: 0 auto;
    margin-bottom: 140px;

    text-align: center;
}
/*What*/
.what
{
    margin-bottom: 30px;
    margin-top: 80px;
}
.filter_tags,
{
    max-width: 920px;
}
.portfolio-link
{
    margin-bottom: 150px;

    color: #999;

    @include lightDecoration();
}
.filter_active
{
    color: #005fff;
}
.display-none
{
    transition: opacity .2s;

    opacity: 0 !important;
}
.items-wrapper
{
    position: static;

    margin: 0 auto;
}
.items
{
    position: absolute;
    z-index: 2024;

    transition: all .5s;

    opacity: 0;
    &.is__ready
    {
        transition-delay: .5s;

        opacity: 1;
    }
    &.active
    {
        &:before
        {
            position: fixed;
            z-index: 0;
            top: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 140px;

            content: '';

            background-color: #fff;
        }
        .item
        {
            transition: all .3s !important;
            &:hover
            {
                transition: all .3s !important;

                background-color: #000 !important;
            }
        }
        .item-title
        {
            transition: opacity .3s;

            opacity: 0;
        }
        .item_deco
        {
            display: none;
        }
    }
}
.item
{
    font-size: 100%;
    font-weight: 800;
    line-height: 170px;

    position: absolute;

    display: block;

    width: 170px;
    height: 170px;

    transition: all .5s;
    text-align: center;
    text-transform: lowercase;

    opacity: 0;
    color: #fff;
    border-radius: 50%;
    background: rgba(9, 0, 0, .3);
    &:hover
    {
        color: white;
    }
    &.loading
    {
        opacity: .7;
    }
    &.is__small
    {
        transition-delay: 0;
    }
}
.item_deco
{
    background: none;
    #metaball
    {
        position: relative;
        z-index: -1;

        width: 340px;
        height: 340px;
        margin-top: -85px;
        margin-left: -85px;
    }
}
.item_big
{
    line-height: 365px;

    width: 365px;
    height: 365px;
}
.item-title
{
    line-height: 1.4;

    display: inline-block;

    padding: 0 25px;

    transition: opacity .3s;
    vertical-align: middle;

    opacity: 1;
}
.content
{
    position: relative;
    &.active
    {
        position: fixed;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background-color: #fff;
    }
}
.main-wrapper
{
    transition: opacity .3s;

    opacity: 1;
}
.close1
{
    background: image-url('data/close_item.png') no-repeat;
}
.article_inner
{
    max-width: 1050px;
    margin: 0 auto;
}
.full_width
{
    width: 100%;
    max-width: 100%;
}
.article_inner
{
    width: 100%;
    margin: 0 auto;
    h1
    {
        font-size: 30px;
        font-weight: normal;

        text-transform: lowercase;
    }
    img
    {
        display: block;

        max-width: 1200px;
        margin: 1em auto;
        &.full_width
        {
            width: 100%;
        }
    }
    .content_colum
    {
        float: left;

        width: 45%;
    }
    .image_colum
    {
        float: right;

        width: 45%;
    }
    .description,
    .colums
    {
        max-width: 1000px;
        margin: 1em auto;
        padding: 20px 150px;
    }
    .filter_tags
    {
        display: inline-block;

        width: 45%;
        margin-bottom: 10px;

        vertical-align: top;
    }
    .filter_people
    {
        display: inline-block;

        width: 50%;
        margin-right: 4%;
        margin-bottom: 10px;

        vertical-align: top;
        .filter-item
        {
            display: inline-block;
        }
    }
}
.article_inner
{
    h2
    {
        text-transform: lowercase;
    }
    .description
    {
        padding-left: 155px;
    }
}
.isotope-item
{
    z-index: 2;
}
.isotope-hidden.isotope-item
{
    z-index: 1;

    pointer-events: none;
}
@-webkit-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@-o-keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.mfp-figure
{
        animation-name: fadeIn;
        animation-duration: .3s;
        animation-fill-mode: both;
-webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
}

iframe.video {
    display: block;
    margin: 80 auto;
}

.mfp-content
{
    padding-top: 160px;
}

.personAbout {
    background-color: #ccc;
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: 10;
    transition: top .3s;
}

.personAbout {
    background-color: #ccc;
    height: 300px;
    width: 100%;
    position: absolute;
    transition: top .3s;
}

// .peopleAbouteOpen {
//     position: absolute;
//     margin-top: 50px;
//     transition: all .3s;
// }

// .peopleAboute div {
//     display: none;
// }

.peopleAboutItem {
    position: absolute;
    opacity: 0;
    padding: 60px 60px 60px 0;
    box-sizing: border-box;
    transition: all .3s;
}

.activeItemPerson {
    opacity: 1;
    transition: all .3s;
}

// .who .filter_people .people-item.__down{
//     margin-top: 350px;
// }

.who .filter_people .people-item.whiteItem {
    opacity: .3 !important;
}
.people-item .peopleAboutItem {display: none; position: absolute;}
@import 'mobile';
