!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		%title
			= data.page.title
		%link{:href => settings.prefix + "/assets/images/16.png", :rel => "icon", :sizes => "16"}
		%link{:href => settings.prefix + "/assets/images/32.png", :rel => "icon", :sizes => "32"}
		%link{:href => settings.prefix + "/assets/stylesheets/magnific-popup.css", :rel => "stylesheet"}
		%link{:href => settings.prefix + "/assets/stylesheets/s.css", :rel => "stylesheet"}


		%meta{:name => "viewport", :content => "width=device-width"}/

	%body
		/ .hse-menu
		.wrapper.hse-lab
			= partial :menu
			.main
				= yield
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
		%script{:src => settings.prefix + "/assets/javascripts/x.js"}
