!!!
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		%title
			= data.page.title
		%link{:href => settings.prefix + "/assets/images/16.png", :rel => "icon", :sizes => "16"}
		%link{:href => settings.prefix + "/assets/images/32.png", :rel => "icon", :sizes => "32"}
		%link{:href => settings.prefix + "/assets/stylesheets/magnific-popup.css", :rel => "stylesheet"}
		%link{:href => settings.prefix + "/assets/stylesheets/s.css", :rel => "stylesheet"}


		%meta{:name => "viewport", :content => "width=device-width"}/

	%body
		/ .hse-menu
		.wrapper.hse-lab.container
			= partial :menu
			.main
				= yield
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
		%script{:src => settings.prefix + "/assets/javascripts/x.js"}
		:javascript
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45833731-3', 'auto');
			ga('send', 'pageview');
