---
prefix: '/lab'
---
%link{:href => settings.prefix + "/assets/images/16.png", :rel => "icon", :sizes => "16"}
%link{:href => settings.prefix + "/assets/images/32.png", :rel => "icon", :sizes => "32"}
%link{:href => settings.prefix + "/assets/stylesheets/magnific-popup.css", :rel => "stylesheet"}
%link{:href => settings.prefix + "/assets/stylesheets/s.css", :rel => "stylesheet"}

= yield
