---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Ирина Южанина

    .peopleAboutItem
      %p Графический и ивент-дизайнер. Работала в Imadesign, LogvinDesign и Ostengruppe/ Zoloto group. В качестве арт-директора Event Agency Clover создавала визуальные концепции  массовых, частных и коммерческих мероприятий, включая «Пикник «Афиши»» и «Праздник «Еды»». С 2014 года преподает в Школе дизайна НИУ ВШЭ.
      .person-works.custome-style
        .person-row
          %img.col-6.p1{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina1.jpg"}
          %img.col-6.p2{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina2.jpg"}
          %img.col-3.p3{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina3.jpg"}

        .person-row
          %img.col-2.p4{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina4.jpg"}
          %img.col-6.p5{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina5.jpg"}
          %img.col-3.p6{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina6.jpg"}

        .person-row.row-up
          %img.col-2.p7{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina7.jpg"}
          %img.col-6.p8{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina8.jpg"}
          %img.col-2.p9{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina9.jpg"}

        .person-row
          %img.col-3.p11{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina11.jpg"}
          %img.col-4.p10{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina10.jpg"}

          %img.col-2.p12{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina12.jpg"}
          %img.col-2.p13{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina13.jpg"}

        .person-row
          %img.col-2.p14{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina14.jpg"}

        .person-row
          %img.col-3.p15{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina15.jpg"}
          %img.col-3.p19{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina19.jpg"}
          %img.col-3.p17{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina17.jpg"}

        .person-row
          %img.col-3.p18{:src => settings.prefix + "/assets/data/person/juzhanina/yuzhanina18.jpg"}
