---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Ирина Южанина

    .peopleAboutItem
      %p Графический и ивент-дизайнер. Работала в Imadesign, LogvinDesign и Ostengruppe/ Zoloto group. В качестве арт-директора Event Agency Clover создавала визуальные концепции  массовых, частных и коммерческих мероприятий, включая «Пикник «Афиши»» и «Праздник «Еды»». С 2014 года преподает в Школе дизайна НИУ ВШЭ.
