---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %p Художник, иллюстратор, один из самых известных веб-дизайнеров в стране, в прошлом арт-директор Студии Артемия Лебедева (2003-2010). Руководил студиями F26 и POST, вел курс «Цифровое искусство» в Британской высшей школе дизайна. Автор персональных выставок, иллюстраций и интернет-инсталляций, занимается оформлением книг и музыкальных альбомов. Победитель Flash Film Festival New York, обладатель «Бронзового льва» 48-го Фестиваля рекламы Cannes Lions и титула «Человек года Rambler». С 2013 года преподает в Школе дизайна НИУ ВШЭ.
