---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Годовой отчет КСО группы Внешеэкономбанка
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} павел борисовский
    /   .filter.filter_tags
    /     %a.filter-item{:href => "#"} графический дизайн
    /     %a.filter-item{:href => "#"} брендинг
    /     %a.filter-item{:href => "#"} логотипы
    /     %a.filter-item{:href => "#"} знаки
    /     %a.filter-item{:href => "#"} стили
    /     %a.filter-item{:href => "#"} сайты
    / %p рыба
  %img{:alt => "", :src => settings.prefix + "/assets/data/kso/kso1.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/kso/kso2.jpg"}/
