---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Годовой отчет группы Внешеэкономбанка
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} павел борисовский
      .filter.filter_tags
        %a.filter-item{:href => "ar"} годовые&nbsp;отчеты&nbsp;и&nbsp;буклеты
        %a.filter-item{:href => "g2014"} 2014
    / %p рыба
  %img{:alt => "", :src => settings.prefix + "/assets/data/kso/kso1.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/kso/kso2.jpg"}/
