---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Концепция презентационных материалов ОАО «ЧТПЗ»
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} василий егоров
        .filter-item{:href => "#"} алексей новичков
        .filter-item{:href => "#"} роман вороновский
        .filter-item{:href => "#"} евгений акименко


      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "godotchet", :id => "godotchet"} годовые&nbsp;отчеты&nbsp;и&nbsp;буклеты
        %a.filter-item{:href => "infografika", :id => "infografika"} инфографика
        %a.filter-item{:href => "reklama", :id => "reklama"} реклама
        %a.filter-item{:href => "g2014", :id => "g2014"} 2014
    %p ЧТПЗ – промышленная группа металлургического комплекса России, является одной из крупнейших отечественных компаний-производителей трубной продукции с общей долей рынка около 20%. Выручка компании превышает $2 млрд, на заводах компании ЧТПЗ работает около 32 000 человек. Входит в десятку крупнейших трубных компаний мира. Руководством компании было принято решение о необходимости разработки и внедрения концепции новаторской корпоративной философии, которая будет способствовать формированию духа здорового коллективизма, повышению производительности труда на предприятиях и оздоровлению общества в целом. Концепция получила название, характеризующее отказ от прежних представлений о металлургическом производстве – «Белая металлургия».
    %p Лабораторией дизайна была разработана концепция презентации философии “Белой металлургии” для сотрудников и партнеров предприятий группы ЧТПЗ.
    %p В рамках концепции был разработан комплекс графических материалов (серия плакатов и мультимедиа-презентация), в котором подробно рассказывается обо всех аспектах корпоративной философии, об ответственности предприятия перед своими сотрудниками, о роли личностного развития в процессе построения гармоничного общества. Иллюстратор: Родион Китаев.

  <iframe class="video" width="900" height="506" src="//www.youtube-nocookie.com/embed/Y3pVIXMt8cQ?rel=0" frameborder="0" allowfullscreen></iframe>
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/chtpz/chtpz.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/chtpz/chtpz2.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/chtpz/chtpz3.jpg"}/
.article_inner
  %img{:alt => "", :src => settings.prefix + "/assets/data/chtpz/chtpz4.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/chtpz/chtpz5.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/chtpz/chtpz6.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/chtpz/chtpz7.jpg"}/
