---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменный стиль «Отделения интегрированных коммуникаций»
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} анна кулачёк
        .filter-item{:href => "#"} сергей клещёв
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "brending", :id => "brending"} брендинг
        / %a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
        / %a.filter-item{:href => "znaki", :id => "znaki"} знаки
        %a.filter-item{:href => "g2013", :id => "g2013"} 2013
        %a.filter-item{:href => "g2014", :id => "g2014"} 2014


    %p Современное понимание коммуникативных процессов как универсального ресурса управления обществом в условиях глобализации основано на взаимопроникновении различных сторон общественной жизни – политики, рекламы, PR, все большего переплетения коммуникационных сред. Стрелка указателя в фирменном стиле Отделения интегрированных коммуникаций – символ многообразия информационных потоков, трендов и направлений. Общаясь, человек всегда будет идти вперед, не взирая на препятствия.
  %img{:alt => "", :src => settings.prefix + "/assets/data/dik/dik1.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/dik/dik2.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/dik/dik3.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/dik/dik4.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/dik/dik5.jpg"}/
