---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменный стиль премии «Золотая вышка»
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} сергей клещёв
        .filter-item{:href => "#"} алёна дорохина
        .filter-item{:href => "#"} олег пащенко
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "brending", :id => "brending"} брендинг
        / %a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
        / %a.filter-item{:href => "znaki", :id => "znaki"} знаки
        %a.filter-item{:href => "g2013", :id => "g2013"} 2013
    %p Премия «Золотая Вышка» создана для укрепления корпоративной культуры, выявления и поощрения достижений студентов, преподавателей и сотрудников НИУ ВШЭ и вручается по итогам конкурса. Поиск концепции привел к трем метафорам: Нобелевская премия, солнечная система и часовой механизм. В конкурсе -- три тура, круг испытаний, один победитель. Все это заложено в логотипе. В нем отражены не только грандиозность солнечной системы и точность механических часов – здесь есть и возможность проследить драматургию конкурса,  показать развитие процесса и оценить результаты.
  %img{:alt => "", :src => settings.prefix + "/assets/data/zv/i1.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/zv/i2.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/zv/i3.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/zv/i4.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/zv/i5.jpg"}/
