---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Брендбук «Института образования НИУ ВШЭ»
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} анна кулачёк
        .filter-item{:href => "#"} сергей клещёв
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "brending", :id => "brending"} брендинг
        / %a.filter-item{:href => "stili", :id => "stili"} стили
        %a.filter-item{:href => "digital", :id => "digital"} диджитал
        %a.filter-item{:href => "g2013", :id => "g2013"} 2013
        %a.filter-item{:href => "g2014", :id => "g2014"} 2014
    %p Институт образования - одно из ключевых научно-образовательных подразделений Национального исследовательского университета «Высшая школа экономики». Институт образован в 2012 году с целью укрепления национального лидерства университета в обеспечении реформы образования и повышения конкурентоспособности НИУ ВШЭ по отношению к ведущим зарубежным университетам. Концепция фирменного стиля Института – непрерывность процесса образования, круговорот знаний прошлого, настоящего и будущего. Ключевые элементы концепции в дальнейшем были использованы в оформлении интерьеров Института образования.
  %img{:alt => "", :src => settings.prefix + "/assets/data/io/o1.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/io/o2.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/io/o3.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/io/o4.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/io/o5.jpg"}/
  / %img{:alt => "", :src => settings.prefix + "/assets/data/io/o6.jpg"}/
