---
layout: none
---
.article_inner
    .close.mfp-close
    .description
        %h2 Интерактивная карта платформы «Приразломная» для информационного проекта ИД «КоммерсантЪ» и компании «Газпром нефть».
        .filters
            .filter.filter_people
                .filter-item{:href => "#"} алексей новичков
                .filter-item{:href => "#"} роман вороновский
                .filter-item{:href => "#"} рустам кулматов
                .filter-item{:href => "#"} наталья логутова

            .filter.filter_tags
                %a.filter-item{:href => "graph" } графический дизайн
                %a.filter-item{:href => "infographic"} инфографика
                %a.filter-item{:href => "digital"} диджитал
                %a.filter-item{:href => "g2014"} 2014
             

        %p Частью масштабного проекта по освещению процесса экономического освоения Арктики, реализованного ИД «КоммерсантЪ» совместно с компанией «Газпром нефть» стал <a href='http://design.hse.ru/kmrs' target="_blank" style='color:#005fff'>блок инфографики</a>, реализованный специалистами Лаборатории. Материал опубликован в стремительно набирающем популярность формате мультмедийного лонгрида, важной частью которого стала уникальная интерактивная карта-схема морской ледостойкой стационарной платформы «Приразломная», единственной платформы, ведущей добычу нефти на российском арктическом шельфе. Специалистами Лаборатории дизайна в сжатые сроки был выполнен огромный объем работ на стыке медиа, дизайна и информационных технологий – легко ориентируясь в простом и понятном интерфейсе можно получить исчерпывающую информацию о техническом устройстве платформы и совершить виртуальное путешествие в далёкую Арктику.
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs1.jpg"}/
.article_inner.container.bottom
    .row.cust_top_offset
        <iframe src="https://player.vimeo.com/video/124209951" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

    .row
        %img.col-xs-12{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs2.jpg"}/

%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs3.jpg"}/
.article_inner.container.bottom
    .row
        %img.col-xs-12{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs4.jpg"}/
    .row.bigrow
        %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs5.jpg"}/
        %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs6.jpg"}/
        %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs7.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/kmrs/kmrs8.jpg"}/
