---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Лекции в культурном центре ЗИЛ
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} анна кулачёк
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "stili", :id => "stili"} стили
        %a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
        %a.filter-item{:href => "reklama", :id => "reklama"} реклама
        %a.filter-item{:href => "g2013", :id => "g2013"} 2013
        %a.filter-item{:href => "g2014", :id => "g2014"} 2014 
    %p В середине ноября 2013 года стартовала лекционная программа НИУ ВШЭ в Культурном центре ЗИЛ. Особенность проекта состоит в том, что перед аудиторией выступали молодые ученые Вышки. Лекторий в Культурном центре ЗИЛ позволит молодым преподавателям, которым еще не исполнилось 30 лет, приобрести совершенно новый опыт выступления перед неакадемической аудиторией. Дерзкий дизайн афиш, анонсирующих лекции, бросает вызов привычному ландшафту – непростая задача быть заметным в перенасыщеном информацией городском пространстве решена. 
%img.full_width{:alt => "", :src => "assets/data/uog/g3.jpg"}/
