---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Публичные лекции в Санкт-Петербурге
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} анна кулачёк
      .filter.filter_tags
        %a.filter-item{:href => "graph"} графический дизайн
        %a.filter-item{:href => "ad"} реклама
        %a.filter-item{:href => "g2013"} 2013



      %p Увидеть в городском пейзаже что-то яркое и запоминающееся легко. Гораздо сложнее заставить зрителя остановиться и подумать над увиденным. Публичные лекции ведущих преподавателей НИУ ВШЭ проводились осенью 2013 года в Санкт-Петербурге в рамках проекта «Университет, открытый городу». Этак акция требовала от дизайнера точного понимания задачи. Острые углы современной цивилизации, проблемы экономики, мировые конфликты и пути их решения – все эти вопросы читаются в мерцании красок и форм лекционных афиш.
/   %img{:alt => "", :src => settings.prefix + "/assets/data/uog/g1.jpg"}/
/ %img.full_width{:alt => "", :src => settings.prefix + "/assets/data/uog/g2.jpg"}/
/ %img.full_width{:alt => "", :src => settings.prefix + "/assets/data/uog/g3.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/uog/g6.jpg"}/
.article_inner
  %img{:alt => "", :src => settings.prefix + "/assets/data/uog/g4.jpg"}/
  / %img{:alt => "", :src => settings.prefix + "/assets/data/uog/g5.jpg"}/
