---
layout: none
---
.article_inner
    .close.mfp-close
    .description
        %h2 «Современная школа»: архитектурно-дизайнерская концепция капитального ремонта и реконструкции московских школ.
        .filters
            .filter.filter_people
                .filter-item{:href => "#"} наталья немова
                .filter-item{:href => "#"} матвей малахов
                .filter-item{:href => "#"} вячеслав московкин
                .filter-item{:href => "#"} роман шестков
                .filter-item{:href => "#"} василий егоров
                .filter-item{:href => "#"} ирина южанина
                .filter-item{:href => "#"} сергей клещев
                .filter-item{:href => "#"} протей темен
                .filter-item{:href => "#"} евгений акименко
                .filter-item{:href => "#"} матвей позин
                .filter-item{:href => "#"} наталья логутова 

            .filter.filter_tags
                %a.filter-item{:href => "graph" } графический дизайн
                %a.filter-item{:href => "brending"} брендинг
                %a.filter-item{:href => "infographic"} инфографика
                %a.filter-item{:href => "g2014"} 2014
             

        %p По заказу Департамента образования города Москвы и Института образования НИУ ВШЭ разработана дизайнерская концепция капитального ремонта и реконструкции московских школ.  Основная задача концепции – создание современного школьного пространства, в котором учебный процесс будет соответствовать стремительно меняющимся интеллектуальным запросам постиндустриального общества.
        %p Суммируя актуальные мировые тенденции в области оформления школьных пространств и учитывая жёсткие нормативные требования к учебным помещениям, сформирован примерный перечень мероприятий-новаций, каждое из которых в отдельности улучшает эстетические и эксплуатационные характеристики стандартных помещений. В работе над проектом, помимо специалистов Лаборатории, деятельное участие принимали студенты Школы дизайна НИУ ВШЭ: Софья Пойманова, Наталья Черноброва, Анастасия Фролова, Ольга Лагодная, Светлана Мануйлова, Юлия Калашян, Татьяна Цыганкова, Анна Головко, Евгения Казеева, Артем Пономарев, Светлана Стромова, Валентина Тырцева, Дарья Нурмуканова
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms1.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms2.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms3.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms4.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms5.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms6.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms7.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms8.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms9.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms10.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms11.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms12.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms13.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms14.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms15.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms16.jpg"}/
%img.offset.full_width{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms17.jpg"}/
.article-inner.container.bottom
    .row.offset
        %img.col-xs-6{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms19.jpg"}/

        %img.offset.col-xs-6{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms20.jpg"}/
    .row.offset
        %img.offset.col-xs-8{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms21.jpg"}/
        %img.offset.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms23.jpg"}/
        %img.offset.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms22.jpg"}/
        
    .row.offset
        %img.offset.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms24.jpg"}/
        %img.offset.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms25.jpg"}/
    .row.offset    
        %img.offset.col-xs-8{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms26.jpg"}/
        %img.offset.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/modernschool/ms27.jpg"}/