---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Подарочные тарелки НИУ ВШЭ
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} иван васильев
        .filter-item{:href => "#"} алексей новичков
        .filter-item{:href => "#"} протей темен
      .filter.filter_tags
        %a.filter-item{:href => "graph" } графический дизайн
        %a.filter-item{:href => "brending"} брендинг
        %a.filter-item{:href => "g2014"} 2014
        
    %p По заказу администрации НИУ ВШЭ разработана линия сувенирной продукции, наследующая традициям агитфарфора 20-х годов ХХ века. Авангардные мотивы художников-конструктивистов получили новое рождение благодаря творческому конкурсу, проведённому среди студентов и преподавательского состава Школы дизайна. Конкурсной комиссии, состоящей из ведущих экспертов Школы дизайна и представителей администрации НИУ ВШЭ предстоял сложный выбор – на конкурс были представлены несколько десятков работ. Самые интересные эскизы были в кратчайшие сроки отправлены на производство. В планах – выставка работ, предложенных на конкурс.
    
.article_inner.container.bottom
  .row
    %img.col-xs-12{:alt => "", :src => settings.prefix + "/assets/data/plate/pl1.jpg"}/
  .row.bigrow
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/plate/pl2.jpg"}/
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/plate/pl3.jpg"}/
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/plate/pl4.jpg"}/
  .description
    %p В конкурсе принимали участие: 
    .row
      %ul.col-xs-4.list-teachers
        %li Эрик Белоусов
        %li Павел Борисовский
        %li Роман Вороновски
        %li Сергей Клещёв
        %li Сергей Кружавский 
        %li Александра Кузнецова
        %li Александр Ларцев
        %li Алексей Новичков
        %li Татьяна Ожередова 
        %li Олег Пащенко 
        %li Алексей Рюмин
        %li Арсений Сергеев 
        %li Протей Темен
        %li Наталья Шендрик
        %li Ирина Южанина

      %ul.col-xs-4
        %li Екатерина Гущина 
        %li Евгения Дьякова 
        %li Ольга Захарова 
        %li Елизавета Машкова
        %li Варвара Подзорова 
        %li Мария Спицина 
        %li Диана Угрюмова 
        %li Анастасия Коробейникова
        %li Алиса Смелкова
        %li Карина Шакирова 
        %li Наталья Сорокина
        %li Алёна Шульга
      %ul.col-xs-4
        %li Екатерина Алтухова 
        %li Екатерина Баранова 
        %li Ксения Ермакова 
        %li Александра Иванова 
        %li Елизавета Копай-Гора 
        %li Анна Кошелева 
        %li Валерия Михайловер 
        %li Мария Песняева 
        %li Анастасия Тимошенко 
        %li Елизавета Фаустова 
        %li Елизавета Хохлова
        %li Алена Экстудианова 
        %li Дарья Якушина 
    .row
      %ul.col-xs-4
        %li Анастасия Баранова 
        %li Дарья Голованова 
        %li Полина Дурманова 
        %li Екатерина Ени 
        %li Мария Забуслаева 
        %li Илхомжон Зайниев
        %li Александра Казаковская
        %li Татьяна Катарова 
        %li Любовь Котлярова 
        %li Кристина Кузьмичева 
        %li Наталья Мотиенко 
        %li Александр Партугимов    
        %li Дарья Пелипенкова 
        %li Ярослава Попова 
        %li Юлия Репина 
        %li Светлана Сергеева 
        %li Валерия Соловьева 
        %li Анна Сполохова 
        %li Марина Фокина 
        %li Виктория Хухро 

      %ul.col-xs-4
        %li Анна Акопова 
        %li Виктория Астахова 
        %li Татьяна Егошина 
        %li Екатерина Ежукова 
        %li Асель Ертулева 
        %li Андрей Зеленин 
        %li Арсений Казимиров 
        %li Юлия Кашлева 
        %li Анна Корнеенкова 
        %li Елизавета Кразаева 
        %li Чарос Кузиева 
        %li Полина Лобанова 
        %li Валерия Моськина 
        %li Анна Николаева 
        %li Ирина Онуфриенко 
        %li Павел Печерский 
        %li Михаил Полеванов 
        %li Ангелина Полоусова 
        %li Арсений Попов 
        %li Дарья Четыркина 
        %li Кристина Шешукова 
      %ul.col-xs-4
        %li Валентин Алешкин 
        %li Анастасия Ананьева 
        %li Юлия Антипенко 
        %li Анастасия Ашукина 
        %li Анна Бережняк  
        %li Анастасия Богданова 
        %li Вероника Боглай 
        %li Мария Богоявленская 
        %li Виктория Бойко 
        %li Марина Глотова 
        %li Алина Григорьянц 
        %li Интизор Гулямова 
        %li Олег Дашкин 
        %li Анастасия Касиева 
        %li Екатерина Кузьмина 
        %li Анастасия Лебедева 
        %li Вероника Маевская 
        %li Кристина Руменко 
        %li Александра Сухарева 
        %li Мариам Тамамян 
        %li Анастасия Тебякина 
        %li Алина Хряпчина 
        %li Полина Шалаева 

    .row
      %ul.col-xs-4
        %li Марина Баранова 
        %li Виктория Белорукова 
        %li Дмитрий Гребенников 
        %li Надежда Демидова 
        %li Евгения Ефимова 
        %li Мария Исаева 
        %li Дарья Кирилина 
        %li Наталья Комлева 
        %li Анжела Костандян 
        %li Юлия Костина 
        %li Анастасия Липяговская 
        %li Дарья Лучинина 
        %li Анастасия Мелехова 
        %li Александра Миронова 
        %li Екатерина Негробова 
        %li Анастасия Никифорова 
        %li Алена Печенкина 
        %li Ксения Пышная 
        %li Сергей Тиджиев 
        %li Ирина Ущёкина 
        %li Юлия Чеснокова 
        %li Ирина Шилова 

      %ul.col-xs-4
        %li Элина Айрапетян 
        %li Арина Александрова 
        %li Варвара Бададгулова 
        %li Максим Ван 
        %li София Анна Долина 
        %li Ксения Дубровская 
        %li Мария Евтодиева 
        %li Татьяна Жиляева 
        %li Владислав Захаров 
        %li Любовь Иванова 
        %li Полина Истомина 
        %li Лариса Казарян 
        %li Виктория Касатова 
        %li Анна Краснобрыж 
        %li Маяцкая Диляра 
        %li Раимжанова Диана
        %li Рихирева Екатерина 
        %li Полина Савельева 
        %li Алексей Сидоров 
        %li Сидорова Татьяна
        %li Евгения Соболева 
        %li Екатерина Шилова 
      %ul.col-xs-4 
        %li Аделина Адигамова 
        %li Елена Григорьева 
        %li Максим Ерофеев 
        %li Азат Исламов 
        %li Мария Ларина 
        %li Екатерина Лебедева 
        %li Мария Лях 
        %li Екатерина Молчанова 
        %li Татьяна Печенкина 
        %li Кристина Сергеева 
        %li Елизавета Таранина 
        %li Харитонова Мария 
        %li Владислава Чернова 
        %li Виолетта Шабаш 


