---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 РВК. Корпоративная брошюра
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} алексей новичков
        .filter-item{:href => "#"} василий егоров
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "brending", :id => "brending"} брендинг
        %a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
        %a.filter-item{:href => "znaki", :id => "znaki"} знаки
        %a.filter-item{:href => "infografika", :id => "infografika"} инфографика
        %a.filter-item{:href => "g2014", :id => "g2014"} 2014
    %p ОАО «РВК» – государственный фонд фондов и институт развития Российской Федерации. Основные цели деятельности РВК – стимулирование создания в России собственной индустрии венчурного инвестирования и значительное увеличение финансовых ресурсов венчурных фондов. Стремительно меняющийся мир венчурного инвестирования и новые задачи компании потребовали обновления корпоративных материалов. При разработке дизайна корпоративных материалов РВК был проведен анализ современных графических тенденций, релевантных задаче создать легкий для  восприятия, свежий и динамичный стиль оформления. Целевая аудитория колебалась в значительном диапазоне – здесь студенты и ученые, стартаперы и представители государственных структур, поэтому тексту требовалось быть максимально понятным и доступным. В процессе подготовки текста корпоративной брошюры был проведен ряд интервью с ключевыми сотрудниками РВК, обработан значительный массив отчетной информации.
  %img{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk1.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk2.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk3.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk4.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk5.jpg"}/
  %img{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk6.jpg"}/


%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk8.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvk/rvk7.jpg"}/
