---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Новогодний календарь и мультимедиа-открытка РВК
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} татьяна ожередова
        .filter-item{:href => "#"} роман вороновский
        .filter-item{:href => "#"} алексей рюмин
        .filter-item{:href => "#"} евгений акименко
        .filter-item{:href => "#"} екатерина воронова
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "brending", :id => "brending"} брендинг
        %a.filter-item{:href => "reklama", :id => "reklama"} реклама        
        %a.filter-item{:href => "digital", :id => "digital"} диджитал
        %a.filter-item{:href => "g2014", :id => "g2014"} 2014
        
    %p Давно подмечено – рождение новых идей очень часто сопровождается непониманием со стороны современников. Скептики из века в век упражнялись в остроумии по отношению к вещам, выходившим за рамками привычных представлений эпохи. Даже сегодня, чтобы преодолеть косность и инерцию так называемых «лидеров мнений», от изобретателей и новаторов требуется изрядная сила духа. Специалисты Лаборатории смогли точно уловить мотивы, вдохновляющие компанию РВК – уважение к прошлому, смелый взгляд в будущее, оптимизм и поиск нестандартных решений.

    %p На страницах новогоднего календаря разворачивается увлекательная история открытий, которые повлияли на развитие технологической цивилизации. Мы видим диалог между настоящим, с его пафосом самоуверенности и будущим – вчерашней фантазией, ставшей реальностью. Печатную версию календаря сопровождает изящная мультимедиа-открытка – виртуальное путешествие по его сюжетам. Каждая страница оживает, как когда-то стали явью идеи мечтателей.
    
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk12.jpg"}/

.article_inner.container

  .row
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk13.jpg"}/
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk14.jpg"}/
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk15.jpg"}/

  .row  
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk16.jpg"}/
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk17.jpg"}/
    %img.col-xs-4{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk18.jpg"}/

%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk19.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk20.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk21.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk22.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk23.jpg"}/
%img.full_width{:alt => "", :src => settings.prefix + "/assets/data/rvkcalen/rvk24.jpg"}/
.article_inner
  <iframe class="video" width="900" height="506" src="//www.youtube.com/embed/wo3Dr6Ir9FU?rel=0" frameborder="0" allowfullscreen></iframe>