---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Сергей Клещев

    .peopleAboutItem
      %p Художник, дизайнер. Сотрудничал с ИД «Коммерсантъ», дизайн-студией «Штат», Студией Артемия Лебедева. Участник выставок в Москве, Екатеринбурге, Нью-Йорке; стрит-арт проекта в Хельсинки, Киясма, Тромсе. Участник I Киевской биеннале современного искусства. С 2013 года преподает в Школе дизайна НИУ ВШЭ.
      .person-works
        %img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev1.jpg"}
        %img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev2.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev3.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev4.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev5.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/kleschev/kleschev6.jpg"}
        %img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev7.jpg"}
        %img.col-5.in{:src => settings.prefix + "/assets/data/person/kleschev/kleschev8.jpg"}
