---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Наталья Логутова

    .peopleAboutItem
      %p Заместитель руководителя Школы дизайна НИУ ВШЭ, руководитель Лаборатории Школы дизайна.  В прошлом работала в Komkor-TV, Студии Артемия Лебедева, была бизнес-директором Articul Media и коммерческим директором интернет-ресурса polit.ru.
