---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменный стиль Первого московского хосписа им. Веры Миллионщиковой
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} сергей клещев
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "brending", :id => "brending"} брендинг
        %a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
        %a.filter-item{:href => "znaki", :id => "znaki"} знаки
        %a.filter-item{:href => "g2014", :id => "g2014"} 2014
    %p 20 октября 2014 года в Центре документального кино состоялось празднование 20-летнего юбилея первой российской клиники, призванной оказывать полноценную паллиативную помощь – Первого московского хосписа им. Веры Миллионщиковой. Мероприятие было организовано фондом поддержки хосписов «Вера», к празднованию юбилея был приурочен первый съезд Ассоциации профессионалов хосписной помощи. Для съезда и прошедшей в его рамках образовательной конференции «Развитие паллиативной и хосписной помощи взрослым и детям» Лаборатория дизайна разработала фирменный стиль и полиграфию –от пригласительных билетов, наградных грамот и открыток до буклета, упаковки, футболок с логотипом хосписа и видеороликов.
  %img{:alt => "", :src => "/data/hosp/hosp1.jpg"}/
  %img{:alt => "", :src => "/data/hosp/hosp2.jpg"}/
  %img{:alt => "", :src => "/data/hosp/hosp3.jpg"}/
  %img{:alt => "", :src => "/data/hosp/hosp4.jpg"}/
