---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Буклет для института статистических исследований и экономики знаний 
    .filters
      .filter.filter_people
        %a.filter-item{:href => "#"} алексей крицук
        %a.filter-item{:href => "#"} даниил большов

      .filter.filter_tags
        %a.filter-item{:href => "#"} графический дизайн
        %a.filter-item{:href => "#"} исследования
        %a.filter-item{:href => "#"} аналитика
        %a.filter-item{:href => "#"} 2013
    / %p рыба 
  %img{:alt => "", :src => "/data/siez/s1.jpg"}/
