---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 университет, открытый городу
    .filters
      .filter.filter_people
        %a.filter-item{:href => "#"} кулачек
        %a.filter-item{:href => "#"} пащенко
        %a.filter-item{:href => "#"} дорохина
      .filter.filter_tags
        %a.filter-item{:href => "#"} графический дизайн
        %a.filter-item{:href => "#"} брендинг
        %a.filter-item{:href => "#"} логотипы
        %a.filter-item{:href => "#"} знаки
        %a.filter-item{:href => "#"} стили
        %a.filter-item{:href => "#"} сайты
  %img{:alt => "", :src => "/data/uog/g1.jpg"}/
%img.full_width{:alt => "", :src => "/data/uog/g2.jpg"}/
%img.full_width{:alt => "", :src => "/data/uog/g3.jpg"}/
%img.full_width{:alt => "", :src => "/data/uog/g6.jpg"}/
.article_inner
  %img{:alt => "", :src => "/data/uog/g4.jpg"}/
  %img{:alt => "", :src => "/data/uog/g5.jpg"}/
