---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Буклет для Сколково
    / .filters
    /   .filter.filter_people
    /     %a.filter-item{:href => "#"} кто
    /   .filter.filter_tags
    /     %a.filter-item{:href => "#"} графический дизайн
    /     %a.filter-item{:href => "#"} брендинг
    /     %a.filter-item{:href => "#"} логотипы
    /     %a.filter-item{:href => "#"} знаки
    /     %a.filter-item{:href => "#"} стили
    /     %a.filter-item{:href => "#"} сайты
    / %p рыба
  %img{:alt => "", :src => "/data/skolkovo/s1.jpg"}/
  %img{:alt => "", :src => "/data/skolkovo/s2.jpg"}/
  %img{:alt => "", :src => "/data/skolkovo/s3.jpg"}/
