---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменный стиль премии «Золотая вышка»
    / .filters
    /   .filter.filter_people
    /     %a.filter-item{:href => "#"} клещев
    /     %a.filter-item{:href => "#"} дорохина
    /   .filter.filter_tags
    /     %a.filter-item{:href => "#"} графический дизайн
    /     %a.filter-item{:href => "#"} брендинг
    /     %a.filter-item{:href => "#"} логотипы
    /     %a.filter-item{:href => "#"} знаки
    /     %a.filter-item{:href => "#"} стили
    /     %a.filter-item{:href => "#"} сайты
    %p Премия «Золотая Вышка» создана для укрепления корпоративной культуры, выявления и поощрения достижений студентов, преподавателей и сотрудников НИУ ВШЭ и вручается по итогам конкурса. Поиск концепции привел к трем метафорам: Нобелевская премия, солнечная система и часовой механизм. В конкурсе -- три тура, круг испытаний, один победитель. Все это заложено в логотипе. В нем отражены не только грандиозность солнечной системы и точность механических часов – здесь есть и возможность проследить драматургию конкурса,  показать развитие процесса и оценить результаты.
  %img{:alt => "", :src => "/data/zv/i1.jpg"}/
  %img{:alt => "", :src => "/data/zv/i2.jpg"}/
  %img{:alt => "", :src => "/data/zv/i3.jpg"}/
  %img{:alt => "", :src => "/data/zv/i4.jpg"}/
  %img{:alt => "", :src => "/data/zv/i5.jpg"}/