---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменныий стиль департамента интегрированных 
    .filters
      .filter.filter_people
        %a.filter-item{:href => "#"} кто
      .filter.filter_tags
        %a.filter-item{:href => "#"} графический дизайн
        %a.filter-item{:href => "#"} брендинг
        %a.filter-item{:href => "#"} логотипы
        %a.filter-item{:href => "#"} знаки
        %a.filter-item{:href => "#"} стили
        %a.filter-item{:href => "#"} сайты
    %p На семантику оказывает влияние система понятий и парадигм, действующих внутри контекста. Дискурс условного моджахеда категорически не совпадает с дискурсами условного столпника, условного Докинза, условного Хайдеггера или условного Бердяева. При этом общественная репутация условных авторов, носителей дискурса, — и набор рассказываемых о них анекдотов — должны оказывать на понимание нами разнообразно эксплуатирумого ими термина «Бог» влияние минимальное, которым можно пренебречь.
  %img{:alt => "", :src => "/data/dik/dik1.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik2.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik3.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik4.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik5.jpg"}/