---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Брендбук «Института образования НИУ ВШЭ»
    / .filters
    /   .filter.filter_people
    /     %a.filter-item{:href => "#"} анна кулачек
    /     %a.filter-item{:href => "#"} олег пащенко
    /     %a.filter-item{:href => "#"} алена дорохина
    /   .filter.filter_tags
    /     %a.filter-item{:href => "#"} графический дизайн
    /     %a.filter-item{:href => "#"} брендинг
    /     %a.filter-item{:href => "#"} логотипы
    /     %a.filter-item{:href => "#"} знаки
    /     %a.filter-item{:href => "#"} стили
    /     %a.filter-item{:href => "#"} сайты
    %p Институт образования - одно из ключевых научно-образовательных подразделений Национального исследовательского университета «Высшая школа экономики». Институт образован в 2012 году с целью укрепления национального лидерства университета в обеспечении реформы образования и повышения конкурентоспособности НИУ ВШЭ по отношению к ведущим зарубежным университетам. Концепция фирменного стиля Института – непрерывность процесса образования, круговорот знаний прошлого, настоящего и будущего. Ключевые элементы концепции в дальнейшем были использованы в оформлении интерьеров Института образования. 
  %img{:alt => "", :src => "/data/io/o1.jpg"}/
  %img{:alt => "", :src => "/data/io/o2.jpg"}/
  %img{:alt => "", :src => "/data/io/o3.jpg"}/
  %img{:alt => "", :src => "/data/io/o4.jpg"}/
  %img{:alt => "", :src => "/data/io/o5.jpg"}/
  / %img{:alt => "", :src => "/data/io/o6.jpg"}/