---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 лицей ниу вшэ
    .filters
      .filter.filter_people
        %a.filter-item{:href => "#"} кулачек
        %a.filter-item{:href => "#"} пащенко
        %a.filter-item{:href => "#"} дорохина
      .filter.filter_tags
        %a.filter-item{:href => "#"} графический дизайн
        %a.filter-item{:href => "#"} брендинг
        %a.filter-item{:href => "#"} логотипы
        %a.filter-item{:href => "#"} знаки
        %a.filter-item{:href => "#"} стили
        %a.filter-item{:href => "#"} сайты
    %p На семантику оказывает влияние система понятий и парадигм, действующих внутри контекста. Дискурс условного моджахеда категорически не совпадает с дискурсами условного столпника, условного Докинза, условного Хайдеггера или условного Бердяева. При этом общественная репутация условных авторов, носителей дискурса, — и набор рассказываемых о них анекдотов — должны оказывать на понимание нами разнообразно эксплуатирумого ими термина «Бог» влияние минимальное, которым можно пренебречь.
  .colums
    .content_colum
      %p На семантику оказывает влияние система понятий и парадигм, действующих внутри контекста. Дискурс условного моджахеда категорически не совпадает с дискурсами условного столпника, условного Докинз.
    .image_colum
  %img{:alt => "", :src => "/data/licej/l1.jpg"}/
  %img{:alt => "", :src => "/data/licej/l2.jpg"}/
  %img{:alt => "", :src => "/data/licej/l3.jpg"}/
  %img{:alt => "", :src => "/data/licej/l4.jpg"}/
  %img{:alt => "", :src => "/data/licej/l5.jpg"}/

%img.full_width{:alt => "", :src => "/data/licej/l6.jpg"}/