---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменный стиль PYRUS
    .filters
      .filter.filter_people
        %a.filter-item{:href => "#"} сергей клещёв
      .filter.filter_tags
        %a.filter-item{:href => "#"} графический дизайн
        %a.filter-item{:href => "#"} брендинг
        %a.filter-item{:href => "#"} логотипы
        %a.filter-item{:href => "#"} знаки
        %a.filter-item{:href => "#"} 2013
    %p Pyrus (Пайрус) – приложение для организации совместной работы. Это среда, в которой легко отслеживать задачи, и где не свалено, как в электронной почте, все подряд. Приложение доступно в Интернете и на всех популярных мобильных устройствах и планшетах. Оно бесплатно для команды до 12 человек. В основе фирменного стиля – идея легкости, прозрачности. Хорошо организованная работа становится удовольствием, и стилизованные чекпойнты в логотипе отмечаются ровно в срок. С Pyrus дедлайн не страшен!
  %img{:alt => "", :src => "/data/pyrus/py1.jpg"}/

%img.full_width{:alt => "", :src => "/data/pyrus/py2.jpg"}/
.article_inner
  %img{:alt => "", :src => "/data/pyrus/py3.jpg"}/
%img.full_width{:alt => "", :src => "/data/pyrus/py4.jpg"}/
%img.full_width{:alt => "", :src => "/data/pyrus/py5.jpg"}/
/ .article_inner
/   %img{:alt => "", :src => "/data/pyrus/py6.jpg"}/