---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Дизайн сайта  PYRUS
    .filters
      .filter.filter_people
        %a.filter-item{:href => "#"} олег пащенко
      .filter.filter_tags
        %a.filter-item{:href => "#"} диджитал
        %a.filter-item{:href => "#"} сайты
        %a.filter-item{:href => "#"} приложения
        %a.filter-item{:href => "#"} реклама
        %a.filter-item{:href => "#"} 2014
    %p Приложение для организации совместной работы Pyrus (Пайрус) доступно в Интернете и на всех популярных мобильных устройствах и планшетах. Сайт Pyrus – визитная карточка инновационного продукта, его дизайн полностью соответствует фирменному стилю. Элементы логотипа, подобно воздушному змею, в буквальном смысле слова парят над панорамой затянутой облаками земли. Дружелюбная атмосфера  мгновенно окутывает посетителя сайта — лёгкость работы в среде Pyrus  становится очевидной с первых секунд. 
  %img{:alt => "", :src => "/data/pyrus/py6.jpg"}/