---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменный стиль Школы дизайна НИУ ВШЭ
    .filters
      .filter.filter_people
        .filter-item{:href => "#"} протей темен
      .filter.filter_tags
        %a.filter-item{:href => "graph", :id => "graph"} графический дизайн
        %a.filter-item{:href => "brending", :id => "brending"} брендинг
        %a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
        %a.filter-item{:href => "znaki", :id => "znaki"} знаки
        %a.filter-item{:href => "stili", :id => "stili"} стили
        %a.filter-item{:href => "digital", :id => "digital"} диджитал
        %a.filter-item{:href => "sites", :id => "sites"} сайты
        %a.filter-item{:href => "reklama", :id => "reklama"} реклама

        %a.filter-item{:href => "g2014", :id => "g2014"} 2014
    %p Фирменный стиль Школы дизайна &mdash; гибкая система, обладающая высокой степенью свободы. Но в ней есть внутренний принцип, то, что по сути является фундаментом профессии и образовательного процесса. Все презентационные материалы Школы дизайна, от наклеек и почетных грамот до буклетов и афиш всегда уникальны, обладают своим собственным настроением и харизмой.
  %img{:alt => "", :src => "/data/school/sc1.jpg"}/
  %img{:alt => "", :src => "/data/school/sc2.jpg"}/
  %img{:alt => "", :src => "/data/school/sc3.jpg"}/
  %img{:alt => "", :src => "/data/school/sc4.jpg"}/
  %img{:alt => "", :src => "/data/school/sc5.jpg"}/
  %img{:alt => "", :src => "/data/school/sc6.jpg"}/
  %img{:alt => "", :src => "/data/school/sc7.jpg"}/
  %img{:alt => "", :src => "/data/school/sc8.jpg"}/
  %img{:alt => "", :src => "/data/school/sc9.jpg"}/
  %img{:alt => "", :src => "/data/school/sc10.jpg"}/
  %img{:alt => "", :src => "/data/school/sc11.jpg"}/
  %img{:alt => "", :src => "/data/school/sc12.jpg"}/
  %img{:alt => "", :src => "/data/school/sc13.jpg"}/
