---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Алексей Рюмин

    .peopleAboutItem
      %p Художник, дизайнер, автор графических работ, музыкальных клипов (СБПЧ, Некубань, Петр Налич), анимационных и документальных фильмов и видео-арта, фотограф, режиссер театральных постановок, участник международных выставок -- как автор и куратор. Лауреат ряда архитектурных конкурсов и Конкурса короткометражных фильмов Panasonic Viera. С 2013 года преподает в Школе дизайна НИУ ВШЭ.
      .person-works
        %img.col-10{:src => settings.prefix + "/assets/data/person/rumin/Rumin1.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/rumin/Rumin2.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/rumin/Rumin3.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/rumin/Rumin4.jpg"}
