- size ||= '' 

%a{:class => 'item magpop f_all ' + tags + ' ' + size, :href => settings.prefix + "/assets/data/posts/#{name}", :id => name, :style => "background-color: #{color};", :data => {:id => name}}
    %span.item-title= head