---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Арсений Мещеряков

    .peopleAboutItem
      %p Руководитель Школы дизайна НИУ ВШЭ. График, дизайнер, основатель дизайн-бюро «АГЕЙ ТОМЕШ», издатель журнала «WAM (World Art Mузей)» и создатель издательства «Книги WAM», в котором выходили, среди прочего, серия «Россия. XX век», «Московский метрополитен» (для программы «Интерроса») etc. Как художник, участвовал в различных выставочных проектах, в том числе в 52-й Биеннале современного искусства в Венеции.
