---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Арсений Мещеряков
    .peopleAboutItem
      %p Руководитель Школы дизайна НИУ ВШЭ. График, дизайнер, основатель дизайн-бюро «АГЕЙ ТОМЕШ», издатель журнала «WAM (World Art Mузей)» и создатель издательства «Книги WAM», в котором выходили, среди прочего, серия «Россия. XX век», «Московский метрополитен» (для программы «Интерроса») etc. Как художник, участвовал в различных выставочных проектах, в том числе в 52-й Биеннале современного искусства в Венеции.
      .person-works
        .person-row
          %img.col-4{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov1.jpg"}
          %img.col-4{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov2.jpg"}
        .person-row
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov3.jpg"}
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov4.jpg"}
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov5.jpg"}
        .person-row
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov6.jpg"}
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov7.jpg"}
        .person-row
          %img.col-4{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov14.jpg"}
          %img.col-4{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov15.jpg"}
        .person-row
          %img.col-10{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov8.jpeg"}
        .person-row
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov9.jpg"}
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov10.jpg"}
          %img.col-3{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov11.jpg"}
        .person-row
          %img.col-4{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov12.jpg"}
          %img.col-4{:src => settings.prefix + "/assets/data/person/meshherjakov/meshherjakov13.jpg"}
