---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Фирменный стиль «Отделения интегрированных коммуникаций»
    / .filters
    /   .filter.filter_people
    /     %a.filter-item{:href => "#"} кто
    /   .filter.filter_tags
    /     %a.filter-item{:href => "#"} графический дизайн
    /     %a.filter-item{:href => "#"} брендинг
    /     %a.filter-item{:href => "#"} логотипы
    /     %a.filter-item{:href => "#"} знаки
    /     %a.filter-item{:href => "#"} стили
    /     %a.filter-item{:href => "#"} сайты
    %p Современное понимание коммуникативных процессов как универсального ресурса управления обществом в условиях глобализации основано на взаимопроникновении различных сторон общественной жизни – политики, рекламы, PR, все большего переплетения коммуникационных сред. Стрелка указателя в фирменном стиле Отделения интегрированных коммуникаций – символ многообразия информационных потоков, трендов и направлений. Общаясь, человек всегда будет идти вперед, не взирая на препятствия.
  %img{:alt => "", :src => "/data/dik/dik1.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik2.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik3.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik4.jpg"}/
  %img{:alt => "", :src => "/data/dik/dik5.jpg"}/