---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 фестиваль научного кино «360 градусов»
    .filters
      .filter.filter_people
        %a.filter-item{:href => "#"} пащенко
      .filter.filter_tags
        %a.filter-item{:href => "#"} сайты
%img.full_width{:alt => "", :src => "/data/fk/t1.jpg"}/