/* Magnific Popup CSS */

/* line 78, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: white;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 95, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 107, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 122, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 133, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 140, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

/* line 150, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

/* line 157, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-ajax-cur {
  cursor: progress;
}

/* line 161, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* line 167, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* line 174, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 182, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 190, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-loading.mfp-figure {
  display: none;
}

/* line 209, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-hide {
  display: none !important;
}

/* line 220, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

/* line 230, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-preloader a {
  color: #cccccc;
}

/* line 232, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-preloader a:hover {
  color: white;
}

/* line 240, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 247, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-s-error .mfp-content {
  display: none;
}

/* line 255, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 268, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 310, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-close-btn-in .mfp-close {
  color: #333333;
}

/* line 316, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/* line 326, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}

/* line 337, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 350, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow:active {
  margin-top: -54px;
}

/* line 354, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 363, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

/* line 377, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

/* line 385, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

/* line 393, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow-left {
  left: 0;
}

/* line 397, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}

/* line 402, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

/* line 408, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow-right {
  right: 0;
}

/* line 411, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}

/* line 416, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}

/* line 426, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 429, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

/* line 434, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

/* line 438, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

/* line 443, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

/* Main image in popup */

/* line 463, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */

/* line 504, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

/* line 512, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

/* line 521, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

/* line 528, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */

  /* line 541, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 546, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* line 561, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 571, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  /* line 575, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  /* line 579, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  /* line 599, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    transform: scale(0.75);
  }

  /* line 603, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
  }

  /* line 607, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
    transform-origin: 100%;
  }

  /* line 611, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

  .mfp-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* line 623, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-ie7 .mfp-img {
  padding: 0;
}

/* line 626, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}

/* line 633, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-ie7 .mfp-container {
  padding: 0;
}

/* line 636, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-ie7 .mfp-content {
  padding-top: 44px;
}

/* line 639, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* line 647, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* overlay animate in */

/* line 655, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 1;
}

/* overlay animate out */

/* line 659, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */

/* line 664, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

/* content animate it */

/* line 672, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

/* content animate out */

/* line 676, /Users/kozlov/Work/hse-lab-new/source/stylesheets/magnific-popup.scss */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}