---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Протей Темен

    .peopleAboutItem
      %p Художник, арт-директор и сооснователь компании детских интерактивных игр BUBL. Участник более 100 выставок в России, США, Бразилии и Европе, автор многих персональных выставок в России и за рубежом. Участник проекта BYOB на Венецианской биеннале современного искусства 2011 года. С 2013 года преподает в Школе дизайна НИУ ВШЭ.
      .person-works
        %img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen1.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen2.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen3.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/Temen/temen4.jpg"}
        %img.col-5{:src => settings.prefix + "/assets/data/person/Temen/temen5.jpg"}
