---
title: 
page_class: 'index'
---
.main-wrapper
	%header.header.columns.chapter{ :data => {:link => '.header-link'} }
		%a.logo.col{:href => "/"}
		.infoblock.col
			.descriptions Это дизайн-студия, исследовательскиий центр и&nbsp;образовательная программа. Интеллектуальныий ресурс лаборатории составляют опытные дизайнеры, а&nbsp;также лучшие студенты #{ link_to 'HSE Art and Design School', '#'}
			.social
				%a.social-fb{href: "#"} Facebook
				%a.social-vk{href: "#"} Vk
				%a.social-tw{href: "#"} Twitter
			.infoblock-contacts
				%p 
					%a{:href => "mailto:deslab@hse.ru"} deslab@hse.ru
				%p +7 (495) 772-95-90

	.who.chapter{ :data => {:link => '.who-link'} }
		%h2 кто
		.filters.col.people-wrapper
			.filter_people.people
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A6714.jpg);"} 
					%span{:style => "background: #a7abab;"} эрик<br /> белоусов
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A8730.jpg);"} 
					%span{:style => "background: #897f7b;"} павел<br /> борисовский
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A4815.jpg);"} 
					%span{:style => "background: #a7abab;"} игорь<br /> гурович
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A8777.jpg);"} 
					%span{:style => "background: #7f8f8f;"} алена<br /> дорохина
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A7227.jpg);"} 
					%span{:style => "background: #897f7b;"} сергей<br /> клещев
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A3551.jpg);"} 
					%span{:style => "background: #7c8081;"} сергей<br /> кужавский
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A4621.jpg);"} 
					%span{:style => "background: #9bb5ab;"} александра<br /> кузнецова
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A8815.jpg);"} 
					%span{:style => "background: #897f7b;"} анна<br /> кулачек
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A8862.jpg);"} 
					%span{:style => "background: #afae92;"} арсений<br /> мещеряков
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A4905.jpg);"} 
					%span{:style => "background: #615f61;"} олег<br /> пащенко
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A3451.jpg);"} 
					%span{:style => "background: #a7abab;"} протей<br /> темен

	.how.chapter{ :data => {:link => '.how-link'} }
		%h2 как 
		.scheme
			%img{ :src => "../images/data/scheme.png"}
		%p.scheme-desc ресурсы лаборатории позволяют собрать оптимальный состав команды под каждый новый проект
		.phrase
			.inline-item
				.phrase-item
					.research
				%p исследования
			.inline-item
				.phrase-item
					.plus
			.inline-item
				.phrase-item
					.brain
				%p нестандартная идея
			.inline-item
				.phrase-item
					.plus
			.inline-item
				.phrase-item
					.technology
				%p технологии
			.inline-item
				.phrase-item
					.equally
			.inline-item
				.phrase-item
					.result
				%p результат

	.what.chapter{ :data => {:link => '.what-link'} }
		%h2 что
		.filter.filter_tags
			%a.filter-item{:href => "graph", :id => "graph"} графический дизайн
			%a.filter-item{:href => "brending", :id => "brending"} брендинг
			%a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
			%a.filter-item{:href => "znaki", :id => "znaki"} знаки
			%a.filter-item{:href => "stili", :id => "stili"} стили
			%a.filter-item{:href => "upakovka", :id => "upakovka"} упаковка
			%a.filter-item{:href => "izdatel", :id => "izdatel"} издательские проекты
			%a.filter-item{:href => "godotchet", :id => "godotchet"} годовые отчеты
			%a.filter-item{:href => "knigi", :id => "knigi"} книги 
			%a.filter-item{:href => "illustracii", :id => "illustracii"} иллюстрации 
			%a.filter-item{:href => "prezentacii", :id => "prezentacii"} презентации 
			%a.filter-item{:href => "infografika", :id => "infografika"} инфографика
			%a.filter-item{:href => "digital", :id => "digital"} диджитал 
			%a.filter-item{:href => "sites", :id => "sites"} сайты 
			%a.filter-item{:href => "application", :id => "application"} приложения 
			%a.filter-item{:href => "reklama", :id => "reklama"} реклама 
			%a.filter-item{:href => "issledovania", :id => "issledovania"} исследования 
			%a.filter-item{:href => "analitika", :id => "analitika"} аналитика 
			%a.filter-item{:href => "kreativstrat", :id => "kreativstrat"} креативные стратегии 
			%a.filter-item{:href => "g2013", :id => "g2013"} 2013
			%a.filter-item{:href => "g2014", :id => "g2014"} 2014 
			%br
			%span.portfolio-link 
				%a{:href => "#"} портфолио
				pdf, 21 МБ
.items-wrapper		
	.items#items
		%a.item.magpop.f_graph{:href => "/data/posts/post4", :id => "post4", :style => "background-color: #d77931;", :data => {:id => 'post4'}} 
			%span.item-title 360
		%a.item.magpop.item_big{:href => "/data/posts/post", :id => "post", :style => "background-color: #ffb8b8;", :data => {:id => 'post'}} 
			%span.item-title золотая вышка
		%a.item.magpop.item_big.f_brending{:href => "/data/posts/post2", :id => "post2", :style => "background-color: #8c3e3f;", :data => {:id => 'post2'}} 
			%span.item-title институт образования
		%a.item.magpop.f_graph{:href => "/data/posts/post5", :id => "post5", :style => "background-color: #0d53d1;", :data => {:id => 'post5'}} 
			%span.item-title университет, открытый городу
		/ %a.item{:href => "#", :style => "background: #52abdc;"} 
		/ 	%span.item-title росатом
		/ %a.item{:href => "#", :style => "background: #8c3e3f;"} 
		/ 	%span.item-title институт образования
		%a.item.magpop.f_brending{:href => "/data/posts/post3", :id => "post3", :style => "background-color: #3cc47c;", :data => {:id => 'post3'}}  
			%span.item-title гохберг
		%a.item.magpop.f_brending{:href => "/data/posts/post6", :id => "post6", :style => "background-color: #1264fb;", :data => {:id => 'post6'}} 
			%span.item-title лицей вшэ
		%a.item.magpop{:href => "/data/posts/post7", :id => "post7", :style => "background-color: #76d7ff;", :data => {:id => 'post7'}} 
			%span.item-title буклет для сколково

		%a.item.magpop.item_big.f_graph{:href => "/data/posts/post8", :id => "post8", :style => "background-color: #c23a1d;", :data => {:id => 'post8'}} 
			%span.item-title фирменныий стиль департамента интегрированных коммуникациий
		%a.item.magpop{:href => "/data/posts/post9", :id => "post9", :style => "background-color: #339e2a;", :data => {:id => 'post9'}} 
			%span.item-title департамент культуры г.москвы

		%a.item.magpop.item_big.f_brending{:href => "/data/posts/post10", :id => "post10", :style => "background-color: #e7b73c;", :data => {:id => 'post10'}} 
			%span.item-title pyrus
		%a.item.magpop.f_graph{:href => "/data/posts/post11", :id => "post11", :style => "background-color: #df7b00;", :data => {:id => 'post11'}} 
			%span.item-title атомная энергия

		%a.item.magpop.f_graph.f_brending{:href => "/data/posts/post12", :id => "post12", :style => "background-color: #77b4d1;", :data => {:id => 'post12'}} 
			%span.item-title годовой отчет ксо

		/ %a.item{:href => "#", :style => "background: #96994f;"} 
		/ 	%span.item-title нискольково

#post.article