---
title:
page_class: 'index'
---
.main-wrapper
	%header.header.columns.chapter{ :data => {:link => '.header-link'} }
		%a.logo.col{:href => "/"}
		.infoblock.col
			.social
				%a.social-fb{href: "https://www.facebook.com/HSEDesign"} Facebook
				%a.social-vk{href: "http://vk.com/hsedesign"} Vk
				%a.social-tw{href: "http://twitter.com/hsedesign"} Twitter
			.infoblock-contacts
				%p
					%a{:href => "mailto:deslab@hse.ru"} deslab@hse.ru
				%p +7 (495) 772-95-90
		.descriptions Это дизайн-студия, исследовательскиий центр и&nbsp;образовательная программа. Интеллектуальныий ресурс лаборатории составляют опытные дизайнеры, а&nbsp;также лучшие студенты #{ link_to 'HSE Art and Design School', 'http://design.hse.ru'}
	.who.chapter{ :data => {:link => '.who-link'} }
		%h2 кто
		.filters.col.people-wrapper
			.filter_people.people

				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A8862.jpg);"}
					%span{:style => "background: RGBa(175, 174, 146, .7);"} арсений<br /> мещеряков
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/yug.JPG);"}
					%span{:style => "background: RGBa(124, 128, 129, .7);"} ира<br /> южанина
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A8730.jpg);"}
					%span{:style => "background: RGBa(137, 127, 123, .7);"} павел<br /> борисовский
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/serg.JPG);"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} арсений<br /> сергеев
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A7227.jpg);"}
					%span{:style => "background: RGBa(175, 174, 146, .7);"} сергей<br /> клещев
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/nov.JPG);"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} алексей<br /> новичков
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/egor.JPG);"}
					%span{:style => "background: RGBa(137, 127, 123, .7);"} василий<br /> егоров
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/rum.jpg);"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} алексей<br /> рюмин
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A4905.jpg);"}
					%span{:style => "background: RGBa(97, 95, 97, .7);"} олег<br /> пащенко
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/H68A3451.jpg);"}
					%span{:style => "background: RGBa(167, 171, 171, .7);"} протей<br /> темен
				%div.people-item.filter-item{:href => "#", :style => "background: url(/images/data/log.JPG);"}
					%span{:style => "background: RGBa(175, 174, 146, .7);"} наталья<br /> логутова


	.how.chapter{ :data => {:link => '.how-link'} }
		%h2 как
		.scheme
			%img{ :src => "../images/data/scheme.png"}
		%p.scheme-desc ресурсы лаборатории позволяют собрать оптимальный состав команды под каждый новый проект


	.what.chapter{ :data => {:link => '.what-link'} }
		%h2 что
		.filter.filter_tags
			%a.filter_active.filter-item{:href => "all", :id => "all"} всё
			%a.filter-item{:href => "graph", :id => "graph"} графический&nbsp;дизайн
			%a.filter-item{:href => "brending", :id => "brending"} брендинг
			%a.filter-item{:href => "logotypes", :id => "logotypes"} логотипы
			%a.filter-item{:href => "znaki", :id => "znaki"} знаки
			%a.filter-item{:href => "stili", :id => "stili"} стили
			/ %a.filter-item{:href => "upakovka", :id => "upakovka"} упаковка
			/ %a.filter-item{:href => "izdatel", :id => "izdatel"} издательские&nbsp;проекты
			%a.filter-item{:href => "godotchet", :id => "godotchet"} годовые&nbsp;отчеты
			/ %a.filter-item{:href => "knigi", :id => "knigi"} книги
			/ %a.filter-item{:href => "illustracii", :id => "illustracii"} иллюстрации
			%a.filter-item{:href => "prezentacii", :id => "prezentacii"} презентации
			%a.filter-item{:href => "infografika", :id => "infografika"} инфографика
			%a.filter-item{:href => "digital", :id => "digital"} диджитал
			%a.filter-item{:href => "sites", :id => "sites"} сайты
			%a.filter-item{:href => "application", :id => "application"} приложения
			%a.filter-item{:href => "reklama", :id => "reklama"} реклама
			%a.filter-item{:href => "issledovania", :id => "issledovania"} исследования
			%a.filter-item{:href => "analitika", :id => "analitika"} аналитика
			/ %a.filter-item{:href => "kreativstrat", :id => "kreativstrat"} креативные&nbsp;стратегии
			%a.filter-item{:href => "g2013", :id => "g2013"} 2013
			%a.filter-item{:href => "g2014", :id => "g2014"} 2014
			%br
		%span.portfolio-link
			%a{:href => "http://design.hse.ru/lab/data/hse-designlab-portfolio.pdf"} скачать портфолио pdf, 21&nbsp;МБ
.items-wrapper
	.items#items

		%a.item.magpop.f_all.f_graph.f_brending.f_logotypes.f_znaki.f_infografika.f_g2013.f_g2014{:href => "/data/posts/lyceumhse", :id => "lyceumhse", :style => "background-color: #1264fb;", :data => {:id => 'lyceumhse'}}
			%span.item-title Лицей НИУ&nbsp;ВШЭ <br />стиль
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_logotypes.f_znaki.f_g2013{:href => "/data/posts/goldhse", :id => "goldhse", :style => "background-color: #ffb8b8;", :data => {:id => 'goldhse'}}
			%span.item-title премия «Золотая вышка» <br />стиль
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_logotypes.f_znaki.f_g2013{:href => "/data/posts/depintercom", :id => "depintercom", :style => "background-color: #c23a1d;", :data => {:id => 'depintercom'}}
			%span.item-title «Отделение интегрированных коммуникаций»<br />стиль
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_logotypes.f_znaki.f_g2013{:href => "/data/posts/pyrusstyle", :id => "pyrusstyle", :style => "background-color: #e7b73c;", :data => {:id => 'pyrusstyle'}}
			%span.item-title PYRUS<br />стиль
		%a.item.magpop.f_all.f_digital.f_sites.f_application.f_reklama.f_g2014{:href => "/data/posts/pyrussite", :id => "pyrussite", :style => "background-color: #2bb6ac;", :data => {:id => 'pyrussite'}}
			%span.item-title PYRUS <br />сайт
		%a.item.magpop.f_all.f_graph.f_brending.f_stili.f_reklama.f_g2013.f_g2014{:href => "/data/posts/lecturezil", :id => "lecturezil", :style => "background-color: #0b4dd9;", :data => {:id => 'lecturezil'}}
			%span.item-title Лекции в кц ЗИЛ
		%a.item.magpop.f_all.f_graph.f_brending.f_stili.f_issledovania.f_g2013.f_g2014{:href => "/data/posts/rosatom", :id => "rosatom", :style => "background-color: #df7b00;", :data => {:id => 'rosatom'}}
			%span.item-title Росатом <br />буклет
		%a.item.magpop.f_all.item_big.f_graph.f_brending.f_stili.f_sites.f_g2013.f_g2014{:href => "/data/posts/iohse", :id => "iohse", :style => "background-color: #8c3e3f;", :data => {:id => 'iohse'}}
			%span.item-title «Института образования НИУ&nbsp;ВШЭ» <br />Брендбук
		%a.item.magpop.f_all.f_digital.f_sites{:href => "/data/posts/isiezsite", :id => "isiezsite", :style => "background-color: #3cc47c;", :data => {:id => 'isiezsite'}}
			%span.item-title ИСИЭЗ <br />сайт
			/ Сайт для института статистических исследований и экономики знаний
		%a.item.magpop.f_all.f_godotchet{:href => "/data/posts/arkso", :id => "arkso", :style => "background-color: #77b4d1;", :data => {:id => 'arkso'}}
			%span.item-title Годовой отчет КСО
		%a.item.magpop.f_all.f_graph.f_reklama.f_issledovania.f_analitika.f_g2013{:href => "/data/posts/lecturesp", :id => "lecturesp", :style => "background-color: #64bebf;", :data => {:id => 'lecturesp'}}
			%span.item-title лекции в Санкт-Петербурге
		%a.item.item_big.magpop.f_graph.f_issledovania.f_analitika.f_prezentacii.f_g2013.f_g2014{:href => "/data/posts/presentationdepculture", :id => "presentationdepculture", :style => "background-color: #339e2a;", :data => {:id => 'presentationdepculture'}}
			%span.item-title Презентация для ДЕПАРТАМЕНТа&nbsp;КУЛЬТУРЫ
		%a.item.magpop.f_all.f_graph.f_issledovania.f_analitika.f_g2013{:href => "/data/posts/isiezbooklet", :id => "isiezbooklet", :style => "background-color: #6862a2;", :data => {:id => 'isiezbooklet'}}
			%span.item-title ИСИЭЗ <br />буклет
		%a.item.magpop.f_all.f_graph.f_analitika.f_g2013{:href => "/data/posts/skolkovo", :id => "skolkovo", :style => "background-color: #76d7ff;", :data => {:id => 'skolkovo'}}
			%span.item-title Сколково <br />буклет
		%a.item.magpop.f_all.f_g2014{:href => "/data/posts/rvk", :id => "rvk", :style => "background-color: #730e92;", :data => {:id => 'rvk'}}
			%span.item-title РВК<br />брошюра
		%a.item.item_big.magpop.f_all.f_g2014{:href => "/data/posts/hosp", :id => "hosp", :style => "background-color: #ebdf35;", :data => {:id => 'hosp'}}
			%span.item-title Первый московский хоспис им.&nbsp;Веры&nbsp;Миллионщиковой<br />стиль
		%a.item.magpop.f_all.f_graph.f_brending.f_logotypes.f_znaki.f_stili.f_digital.f_sites.f_reklama.f_g2014{:href => "/data/posts/school", :id => "school", :style => "background-color: #000000;", :data => {:id => 'school'}}
			%span.item-title Школа дизайна<br /> стиль

#post.article
