---
title: 
page_class: 'index'
---
.main-wrapper
	%header.header.columns.chapter{ :data => {:link => '.header-link'} }
		%a.logo.col{:href => "/"}
		.infoblock.col
			.descriptions Это дизайн-студия, исследовательскиий центр и&nbsp;образовательная программа. Интеллектуальныий ресурс лаборатории составляют опытные дизайнеры, а&nbsp;также лучшие студенты #{ link_to 'HSE Art and Design School', '#'}
			.social
				%a.social-fb{href: "#"} Facebook
				%a.social-vk{href: "#"} Vk
				%a.social-tw{href: "#"} Twitter
			.infoblock-contacts
				%p 
					%a{:href => "mailto:deslab@hse.ru"} deslab@hse.ru
				%p +7 (495) 772-95-90

	.who.chapter{ :data => {:link => '.who-link'} }
		%h2 кто
		.filters.col.people-wrapper
			.filter_people.people
				%div.people-item.filter-item{:href => "#", :style => "background: #a7abab;"} 
					%span эрик<br /> белоусов
				%div.people-item.filter-item{:href => "#", :style => "background: #897f7b;"} 
					%span павел<br /> борисовский
				%div.people-item.filter-item{:href => "#", :style => "background: #a7abab;"} 
					%span игорь<br /> гурович
				%div.people-item.filter-item{:href => "#", :style => "background: #7f8f8f;"} 
					%span алена<br /> дорохина
				%div.people-item.filter-item{:href => "#", :style => "background: #897f7b;"} 
					%span сергей<br /> клещев
				%div.people-item.filter-item{:href => "#", :style => "background: #7c8081;"} 
					%span сергей<br /> кужавский
				%div.people-item.filter-item{:href => "#", :style => "background: #9bb5ab;"} 
					%span александра<br /> кузнецова
				%div.people-item.filter-item{:href => "#", :style => "background: #897f7b;"} 
					%span анна<br /> кулачек
				%div.people-item.filter-item{:href => "#", :style => "background: #afae92;"} 
					%span арсений<br /> мещеряков
				%div.people-item.filter-item{:href => "#", :style => "background: #615f61;"} 
					%span олег<br /> пащенко
				%div.people-item.filter-item{:href => "#	", :style => "background: #a7abab;"} 
					%span протей<br /> темен

	.how.chapter{ :data => {:link => '.how-link'} }
		%h2 как 
		.scheme
			%img{ :src => "../images/data/scheme.png"}
		%p.scheme-desc ресурсы лаборатории позволяют собрать оптимальный состав команды под каждый новый проект
		.phrase
			.inline-item
				.phrase-item
					.research
				%p исследования
			.inline-item
				.phrase-item
					.plus
			.inline-item
				.phrase-item
					.brain
				%p нестандартная идея
			.inline-item
				.phrase-item
					.plus
			.inline-item
				.phrase-item
					.technology
				%p технологии
			.inline-item
				.phrase-item
					.equally
			.inline-item
				.phrase-item
					.result
				%p результат

	.what.chapter{ :data => {:link => '.what-link'} }
		%h2 что
		.filter.filter_tags
			%a.filter-item{:href => "graph"} графический дизайн
			%a.filter-item{:href => "#"} брендинг
			%a.filter-item{:href => "#"} логотипы
			%a.filter-item{:href => "#"} знаки
			%a.filter-item{:href => "#"} стили
			%a.filter-item{:href => "#"} упаковка
			%a.filter-item{:href => "#"} издательские проекты
			%a.filter-item{:href => "#"} годовые отчеты
			%a.filter-item{:href => "#"} книги 
			%a.filter-item{:href => "#"} иллюстрации 
			%a.filter-item{:href => "#"} презентации 
			%a.filter-item{:href => "#"} инфографика
			%a.filter-item{:href => "#"} диджитал 
			%a.filter-item{:href => "#"} сайты 
			%a.filter-item{:href => "#"} приложения 
			%a.filter-item{:href => "#"} реклама 
			%a.filter-item{:href => "#"} исследования 
			%a.filter-item{:href => "#"} аналитика 
			%a.filter-item{:href => "#"} креативные стратегии 
			%a.filter-item{:href => "#"} 2013
			%a.filter-item{:href => "#"} 2014 
			%br
			%span.portfolio-link 
				%a{:href => "#"} портфолио
				pdf, 21 МБ
.items-wrapper		
	.items#items
		%a.item.f_graph{:href => "/data/posts/post4", :style => "background: #d77931;", :data => {:id => 'post4'}} 
			%span.item-title 360
		%a.item.item_big{:href => "/data/posts/post", :style => "background: url(/images/data/golden.png);", :data => {:id => 'post'}} 
			%span.item-title золотая вышка
		%a.item.item_big{:href => "/data/posts/post2", :style => "background: #8c3e3f;", :data => {:id => 'post2'}} 
			%span.item-title институт образования
		%a.item{:href => "/data/posts/post5", :style => "background: #0d53d1;", :data => {:id => 'post5'}} 
			%span.item-title университет, открытый городу
		/ %a.item{:href => "#", :style => "background: #52abdc;"} 
		/ 	%span.item-title росатом
		/ %a.item{:href => "#", :style => "background: #8c3e3f;"} 
		/ 	%span.item-title институт образования
		%a.item{:href => "/data/posts/post3", :style => "background: #3cc47c;", :data => {:id => 'post3'}}  
			%span.item-title гохберг
		%a.item{:href => "/data/posts/post6", :style => "background: #1264fb;", :data => {:id => 'post6'}} 
			%span.item-title лицей вшэ
		%a.item{:href => "/data/posts/post7", :style => "background: #76d7ff;", :data => {:id => 'post7'}} 
			%span.item-title буклет для сколково

		%a.item.item_big{:href => "/data/posts/post8", :style => "background: #c23a1d;", :data => {:id => 'post8'}} 
			%span.item-title фирменныий стиль департамента интегрированных коммуникациий
		%a.item{:href => "/data/posts/post9", :style => "background: #339e2a;", :data => {:id => 'post9'}} 
			%span.item-title департамент культуры г.москвы

		%a.item.item_big{:href => "/data/posts/post10", :style => "background: #e7b73c;", :data => {:id => 'post10'}} 
			%span.item-title pyrus
		%a.item{:href => "/data/posts/post11", :style => "background: #df7b00;", :data => {:id => 'post11'}} 
			%span.item-title атомная энергия

		%a.item{:href => "/data/posts/post12", :style => "background: #77b4d1;", :data => {:id => 'post12'}} 
			%span.item-title годовой отчет ксо

		/ %a.item{:href => "#", :style => "background: #96994f;"} 
		/ 	%span.item-title нискольково

#post.article