---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Алексей Новичков

    .peopleAboutItem
      %p Графический дизайнер, эксперт в области инфографики и независимый консультант. Как дизайнер сотрудничал с журналами «Русский Репортёр», «Вокруг Света», «Сноб», «Артхроника», «ADWEEK» (США) и др. Преподавал графический дизайн и инфографику в МГТУ им. Баумана, МГУ, Британской школе дизайна. Куратор и автор двухдневных и недельных интенсивных образовательных программ по инфографике, в 2011- 2014 годах занимал должность заместителя руководителя студии инфографики РИА Новости, где разработал систему графических шаблонов для оперативной, статичной и мультимедийной инфографики. С 2014 года преподает в Школе дизайна НИУ ВШЭ.
      .person-works
        %img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov1.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov2.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov3.jpg"}
        %img.col-6{:src => settings.prefix + "/assets/data/person/novichkov/novichkov4.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/novichkov/novichkov5.jpg"}
