---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Павел Борисовский

    .peopleAboutItem
      %p Художник, дизайнер, учредитель и арт-директор дизайн-студии «Служба Пейзажа», создатель журнала «Предмет – пространство субкультур», автор «Глобального культурного проекта» (Global Cultural Project, GCP). Арт-директор конференции-форума «Субкультуры: потенциал развития» в Центре современной культуры «Гараж». С 2013 года преподает в Школе дизайна НИУ ВШЭ.
      .person-works
        %img.col-10{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky1.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky2.jpg"}
        %img.col-4{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky3.jpg"}
        %img.col-3{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky4.jpg"}
        %img.col-6{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky5.jpg"}
        %img.col-10{:src => settings.prefix + "/assets/data/person/borisovsky/borisovsky6.jpg"}
