---
layout: none
---
.article_inner
  .close.mfp-close
  .description
    %h2 Василий Егоров

    .peopleAboutItem
      %p График, дизайнер, фотограф. Заместитель руководителя Лаборатории, занимается разработкой визуально-графических концепций, созданием фирменных стилей, товарных знаков, упаковок, интернет-сайтов etc. В прошлом работал в креативном агентстве «Артоника», в качестве арт-директора руководил Ogilvy & Mather.
